In [16]:
import pandas as pd 

resultado_df=pd.read_excel("dre_magalu.xlsx")
display(resultado_df.head(28))
display(resultado_df.describe())

,DRE CONSOLIDADO (em R$ milhões),1T14,2T14,3T14,4T14,1T15,2T15,3T15,4T15,1T16,...,2T20,3T20,4T20,2014,2015,2016,2017,2018,2019,2020
0,Receita Bruta,2699.068000,2756.599000,2801.431000,3247.561000,2654.635000,2444.790000,2430.980000,2967.909000,2723.612000,...,6816.559000,10349.482000,12463.709000,11504.659000,10498.314000,11371.644000,14321.104000,18896.513000,24377.133000,36116.035000
1,Impostos e Cancelamentos,-430.201000,-413.840000,-411.046000,-470.187000,-402.202000,-337.489000,-348.436000,-431.928000,-460.138000,...,-1248.315000,-2041.156000,-2397.916000,-1725.274000,-1520.055000,-1862.899000,-2336.854000,-3306.069000,-4490.823000,-6938.923000
2,Receita Líquida,2268.867000,2342.759000,2390.385000,2777.374000,2252.433000,2107.301000,2082.544000,2535.981000,2263.474000,...,5568.244000,8308.326000,10065.793000,9779.385000,8978.259000,9508.745000,11984.250000,15590.444000,19886.310000,29177.112000
3,Custo Total,-1648.866000,-1709.040000,-1710.851000,-2018.152000,-1638.609000,-1477.769000,-1468.678000,-1814.574000,-1579.910000,...,-4133.041000,-6129.592000,-7580.242000,-7086.909000,-6399.630000,-6586.130000,-8378.239000,-11053.022000,-14332.349000,-21657.151000
4,Lucro Bruto,620.001000,633.719000,679.534000,759.222000,613.824000,629.532000,613.866000,721.407000,683.564000,...,1435.203000,2178.734000,2485.551000,2692.476000,2578.629000,2922.615000,3606.011000,4537.422000,5553.961000,7519.961000
5,Despesas com Vendas,-419.904000,-415.836000,-423.075000,-487.443000,-421.328000,-404.406000,-408.922000,-486.143000,-426.777000,...,-1116.343000,-1432.585000,-1675.427000,-1746.258000,-1720.799000,-1776.258000,-2119.953000,-2747.447000,-3444.113000,-5162.618000
6,Despesas Gerais e Administrativas,-102.279000,-106.175000,-105.791000,-128.305000,-109.042000,-112.756000,-112.959000,-123.722000,-111.063000,...,-181.996000,-240.690000,-289.488000,-442.550000,-458.479000,-481.933000,-536.026000,-596.143000,-701.586000,-906.799000
7,Perda em Liquidação Duvidosa,-4.725000,-7.072000,-4.820000,-5.930000,-6.172000,-6.820000,-7.269000,-10.201000,-7.715000,...,-29.068000,-25.381000,-33.662000,-22.547000,-30.462000,-26.074000,-41.921000,-59.737000,-75.993000,-118.119000
8,"Outras Receitas Operacionais, Líquidas",6.071000,8.070000,3.659000,6.719000,23.129000,0.206000,4.563000,-7.665000,-8.579000,...,8.495000,0.091000,-6.440000,24.519000,20.233000,13.505000,36.486000,53.389000,416.662000,74.745000
9,Equivalência Patrimonial,21.636000,20.271000,26.531000,31.182000,26.989000,20.823000,21.114000,6.679000,14.685000,...,27.453000,65.900000,24.131000,99.620000,75.605000,62.702000,86.156000,57.757000,26.607000,119.929000
10,Total de Despesas Operacionais,-499.201000,-500.742000,-503.496000,-583.777000,-486.424000,-502.953000,-503.473000,-621.052000,-539.449000,...,-1291.459000,-1632.665000,-1980.886000,-2087.216000,-2113.902000,-2208.058000,-2575.258000,-3292.181000,-3778.423000,-5992.862000
11,EBITDA,120.800000,132.977000,176.038000,175.445000,127.400000,126.579000,110.393000,100.355000,144.115000,...,143.744000,546.069000,504.665000,605.260000,464.727000,714.557000,1030.753000,1245.241000,1775.538000,1527.099000
12,Depreciação e Amortização,-27.030000,-27.651000,-28.167000,-31.484000,-31.748000,-30.991000,-28.885000,-34.177000,-30.895000,...,-172.255000,-169.190000,-186.237000,-114.332000,-125.801000,-133.612000,-143.059000,-163.690000,-486.975000,-702.523000
13,EBIT,93.770000,105.326000,147.871000,143.961000,95.652000,95.588000,81.508000,66.178000,113.220000,...,-28.511000,376.879000,318.428000,490.928000,338.926000,580.945000,887.694000,1081.551000,1288.563000,824.576000
14,Resultado Financeiro,-74.365000,-79.535000,-96.780000,-110.062000,-104.327000,-104.707000,-124.268000,-152.753000,-113.931000,...,-94.557000,-102.702000,-118.825000,-360.742000,-486.055000,-503.849000,-410.821000,-294.688000,-70.413000,-410.495000
15,Lucro (Prejuízo) Operacional,19.405000,25.791000,51.091000,33.899000,-8.675000,-9.119000,-42.760000,-86.575000,-0.711000,...,-123.068000,274.177000,199.603000,130.186000,-147.129000,77.096000,476.873000,786.863000,1218.150000,414.081000
16,IR / CS,1.130000,0.842000,-9.008000,5.406000,11.527000,12.156000,23.660000,34.181000,5.965000,...,58.531000,-68.220000,19.883000,-1.630000,81.524000,9.469000,-87.851000,-189.434000,-296.313000,-22.372000
17,Lucro Líquido,20.535000,26.633000,42.083000,39.305000,2.852000,3.037000,-19.100000,-52.394000,5.254000,...,-64.537000,205.957000,219.486000,128.556000,-65.605000,86.565000,389.022000,597.429000,921.837000,391.709000
18,Margem Bruta,0.273265,0.270501,0.284278,0.273360,0.272516,0.298739,0.294767,0.284469,0.301998,...,0.257748,0.262235,0.246930,0.275322,0.287208,0.307361,0.300896,0.291039,0.279286,0.257735
19,Margem EBITDA,0.053242,0.056761,0.073644,0.063169,0.056561,0.060067,0.053009,0.039572,0.063670,...,0.025815,0.065726,0.050137,0.061891,0.051761,0.075147,0.086009,0.079872,0.089284,0.052339
20,Margem Líquida,0.009051,0.011368,0.017605,0.014152,0.001266,0.001441,-0.009171,-0.020660,0.002321,...,-0.011590,0.024789,0.021805,0.013146,-0.007307,0.009104,0.032461,0.038320,0.046355,0.013425
21,Reconciliação do EBITDA pelas despesas não rec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,EBITDA,120.800000,132.977000,176.038000,175.445000,127.400000,126.579000,110.393000,100.355000,144.115000,...,143.744000,546.069000,504.665000,605.260000,464.727000,714.557000,1030.753000,1245.241000,1775.538000,1527.099000
23,Resultado Não Recorrente,0.000000,2.582000,1.633000,0.836000,5.070000,5.869000,3.025000,13.922000,19.001000,...,3.480000,15.100000,19.121000,5.051000,27.886000,27.164000,5.499000,-11.911000,-115.819000,-21.068000
24,EBITDA Ajustado,120.800000,135.559000,177.671000,176.281000,132.470000,132.448000,113.418000,114.277000,163.116000,...,147.224000,561.169000,523.786000,610.311000,492.613000,741.721000,1036.252000,1233.330000,1659.719000,1506.031000
25,Lucro Líquido,20.535000,26.633000,42.083000,39.305000,2.852000,3.037000,-19.100000,-52.394000,5.254000,...,-64.537000,205.957000,219.486000,128.556000,-65.605000,86.565000,389.022000,597.429000,921.837000,391.709000
26,Resultado Não Recorrente,0.000000,1.704120,1.077780,0.551760,3.346200,3.873540,1.996500,9.188520,12.540660,...,2.296800,9.973000,12.620000,3.333660,18.404760,17.928240,3.629340,-7.861260,-417.650390,-13.897740
27,Lucro Líquido Ajustado,20.535000,28.337120,43.160780,39.856760,6.198200,6.910540,-17.103500,-43.205480,17.794660,...,-62.240200,215.930000,232.106000,131.889660,-47.200240,104.493240,392.651340,589.567740,504.186610,377.811260

,1T14,2T14,3T14,4T14,1T15,2T15,3T15,4T15,1T16,2T16,...,2T20,3T20,4T20,2014,2015,2016,2017,2018,2019,2020
count,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,...,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000
mean,109.174724,115.600995,128.430670,141.383711,106.577065,101.188123,92.475763,101.998238,112.478160,111.098149,...,212.789577,445.110546,501.638106,494.551210,402.202118,498.587040,705.429372,918.163063,1189.481450,1408.199741
std,781.913980,802.172682,814.589258,947.048309,773.008888,716.185594,711.676572,869.889260,783.398555,738.933452,...,1961.460400,2931.006384,3547.476875,3345.546555,3070.329364,3275.133616,4114.847902,5397.437355,6932.157522,10281.013850
min,-1648.866000,-1709.040000,-1710.851000,-2018.152000,-1638.609000,-1477.769000,-1468.678000,-1814.574000,-1579.910000,-1464.778000,...,-4133.041000,-6129.592000,-7580.242000,-7086.909000,-6399.630000,-6586.130000,-8378.239000,-11053.022000,-14332.349000,-21657.151000
25%,-15.877500,-17.361500,-18.587500,-18.707000,-20.211500,-20.055000,-35.822500,-69.484500,-19.737000,-18.250500,...,-108.812500,-85.461000,-76.243500,-68.439500,-136.465000,-79.843000,-115.455000,-176.562000,-356.981695,-264.307000
50%,1.130000,2.582000,1.633000,5.406000,2.852000,3.037000,0.053009,-0.020660,5.254000,5.301000,...,-0.011590,9.973000,19.121000,5.051000,0.051761,17.928240,5.499000,0.291039,0.279286,0.257735
75%,57.703000,66.831560,99.481000,91.908880,61.320500,58.205500,52.584000,50.179500,66.110500,74.073000,...,42.992000,325.528000,275.267000,311.408830,210.225000,342.719120,682.283500,934.207000,1253.356500,619.328500
max,2699.068000,2756.599000,2801.431000,3247.561000,2654.635000,2444.790000,2430.980000,2967.909000,2723.612000,2561.533000,...,6816.559000,10349.482000,12463.709000,11504.659000,10498.314000,11371.644000,14321.104000,18896.513000,24377.133000,36116.035000

In [21]:
apurado_trimestral=resultado_df[['1T20','2T20','3T20',"4T20"]]
display(apurado_trimestral)

           1T20         2T20          3T20          4T20
0   6486.285000  6816.559000  10349.482000  12463.709000
1  -1251.536000 -1248.315000  -2041.156000  -2397.916000
2   5234.749000  5568.244000   8308.326000  10065.793000
3  -3814.276000 -4133.041000  -6129.592000  -7580.242000
4   1420.473000  1435.203000   2178.734000   2485.551000
5   -938.263000 -1116.343000  -1432.585000  -1675.427000
6   -194.625000  -181.996000   -240.690000   -289.488000
7    -30.008000   -29.068000    -25.381000    -33.662000
8     72.599000     8.495000      0.091000     -6.440000
9      2.445000    27.453000     65.900000     24.131000
10 -1087.852000 -1291.459000  -1632.665000  -1980.886000
11   332.621000   143.744000    546.069000    504.665000
12  -174.841000  -172.255000   -169.190000   -186.237000
13   157.780000   -28.511000    376.879000    318.428000
14   -94.411000   -94.557000   -102.702000   -118.825000
15    63.369000  -123.068000    274.177000    199.603000
16   -32.566000    58.531000    -68.220000     19.883000
17    30.803000   -64.537000    205.957000    219.486000
18     0.271355     0.257748      0.262235      0.246930
19     0.063541     0.025815      0.065726      0.050137
20     0.005884    -0.011590      0.024789      0.021805
21          NaN          NaN           NaN           NaN
22   332.621000   143.744000    546.069000    504.665000
23   -58.769000     3.480000     15.100000     19.121000
24   273.852000   147.224000    561.169000    523.786000
25    30.803000   -64.537000    205.957000    219.486000
26   -38.787540     2.296800      9.973000     12.620000
27    -7.984540   -62.240200    215.930000    232.106000

In [29]:
display(resultado_df.loc[1:5])
#indicadores_df=resultado_df.loc[:,"1T20","2T20"] ?? corrigir
#display(indicadores_df)

,DRE CONSOLIDADO (em R$ milhões),1T14,2T14,3T14,4T14,1T15,2T15,3T15,4T15,1T16,...,2T20,3T20,4T20,2014,2015,2016,2017,2018,2019,2020
1,Impostos e Cancelamentos,-430.201,-413.840,-411.046,-470.187,-402.202,-337.489,-348.436,-431.928,-460.138,...,-1248.315,-2041.156,-2397.916,-1725.274,-1520.055,-1862.899,-2336.854,-3306.069,-4490.823,-6938.923
2,Receita Líquida,2268.867,2342.759,2390.385,2777.374,2252.433,2107.301,2082.544,2535.981,2263.474,...,5568.244,8308.326,10065.793,9779.385,8978.259,9508.745,11984.250,15590.444,19886.310,29177.112
3,Custo Total,-1648.866,-1709.040,-1710.851,-2018.152,-1638.609,-1477.769,-1468.678,-1814.574,-1579.910,...,-4133.041,-6129.592,-7580.242,-7086.909,-6399.630,-6586.130,-8378.239,-11053.022,-14332.349,-21657.151
4,Lucro Bruto,620.001,633.719,679.534,759.222,613.824,629.532,613.866,721.407,683.564,...,1435.203,2178.734,2485.551,2692.476,2578.629,2922.615,3606.011,4537.422,5553.961,7519.961
5,Despesas com Vendas,-419.904,-415.836,-423.075,-487.443,-421.328,-404.406,-408.922,-486.143,-426.777,...,-1116.343,-1432.585,-1675.427,-1746.258,-1720.799,-1776.258,-2119.953,-2747.447,-3444.113,-5162.618

In [30]:
#deletar linhas e colunas completamente vazias
resultado_df=resultado_df.dropna(how='all', axis=1)
#axis=[0] é linha e [1]=coluna

#deletar linhas que possuem pelo menos 1 valor vazio
resultado_df=resultado_df.dropna()